<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CyberTool</title>
</head>
<body>
    <h1>CybertTool</h1>
    <p>Testovaná síť: {{ current_network }}</p>

    <h2>Možnosti:</h2>
    <ul>
        <li><a href="/scan-network/" target="_blank">Skenovat aktuální síť</a></li>
        <li><a href="/scenarios/">Zobrazit dostupné scénáře</a></li>
        <li><a href="/change-network/">Změnit testovanou síť</a></li>
        <li><a href="/execute-scenario/">Spustit scénář útoku</a></li>
    </ul>
</body>
</html>